absl-py
atomicwrites
attrs
certifi
chardet
cycler
docopt
enum34
future
idna
imageio
jsonpickle
kiwisolver
matplotlib
mock
more-itertools
mpyq
munch
numpy
pathlib2
pbr
Pillow
pluggy
portpicker
probscale
protobuf
py
pygame
pyparsing
pysc2
pytest
python-dateutil
PyYAML
requests
s2clientprotocol
sacred
scipy
six
sk-video
snakeviz
tensorboard-logger
torch
torchvision
tornado
urllib3
websocket-client
whichcraft
wrapt
git+https://github.com/oxwhirl/smac.git
